pm-mascot-parser/src/test/resources/pdi-dataset.dtd

<!ELEMENT dataset (
    ADMIN_INFOS*,
    BIO_SEQUENCE*,
    BIO_SEQUENCE_ANNOTATION*,
    BIO_SEQUENCE_GENE_MAP*,
    BIO_SEQUENCE_RELATION*,
    CHROMOSOME_LOCATION*,
    FASTA_FILE_ENTRY_INDEX*,
    FASTA_PARSING_RULE*,
    GENE*,
    OBJECT_TREE*,
    OBJECT_TREE_SCHEMA*,
    PROTEIN_IDENTIFIER*,
    SCHEMA_VERSION*,
    SEQ_DB_CONFIG*,
    SEQ_DB_ENTRY*,
    SEQ_DB_ENTRY_GENE_MAP*,
    SEQ_DB_ENTRY_OBJECT_TREE_MAP*,
    SEQ_DB_ENTRY_PROTEIN_IDENTIFIER_MAP*,
    SEQ_DB_INSTANCE*,
    SEQ_DB_RELEASE*,
    TAXON*,
    TAXON_EXTRA_NAME*)>

<!ELEMENT ADMIN_INFOS EMPTY>
<!ATTLIST ADMIN_INFOS
    MODEL_VERSION CDATA #REQUIRED
    DB_CREATION_DATE CDATA #IMPLIED
    MODEL_UPDATE_DATE CDATA #IMPLIED
    CHR_LOCATION_UPDATE_TIMESTAMP CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT BIO_SEQUENCE EMPTY>
<!ATTLIST BIO_SEQUENCE
    ID CDATA #REQUIRED
    ALPHABET CDATA #REQUIRED
    SEQUENCE CDATA #REQUIRED
    LENGTH CDATA #IMPLIED
    MASS CDATA #REQUIRED
    PI CDATA #IMPLIED
    CRC64 CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT BIO_SEQUENCE_ANNOTATION EMPTY>
<!ATTLIST BIO_SEQUENCE_ANNOTATION
    ID CDATA #REQUIRED
    VERSION CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    BIO_SEQUENCE_ID CDATA #REQUIRED
    TAXON_ID CDATA #REQUIRED
    OBJECT_TREE_ID CDATA #REQUIRED
    SCHEMA_NAME CDATA #REQUIRED
>

<!ELEMENT BIO_SEQUENCE_GENE_MAP EMPTY>
<!ATTLIST BIO_SEQUENCE_GENE_MAP
    BIO_SEQUENCE_ID CDATA #REQUIRED
    GENE_ID CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    TAXON_ID CDATA #REQUIRED
>

<!ELEMENT BIO_SEQUENCE_RELATION EMPTY>
<!ATTLIST BIO_SEQUENCE_RELATION
    NA_SEQUENCE_ID CDATA #REQUIRED
    AA_SEQUENCE_ID CDATA #REQUIRED
    FRAME_NUMBER CDATA #REQUIRED
>

<!ELEMENT CHROMOSOME_LOCATION EMPTY>
<!ATTLIST CHROMOSOME_LOCATION
    ID CDATA #REQUIRED
    CHROMOSOME_IDENTIFIER CDATA #REQUIRED
    LOCATION CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    GENE_ID CDATA #REQUIRED
    TAXON_ID CDATA #REQUIRED
>

<!ELEMENT FASTA_FILE_ENTRY_INDEX EMPTY>
<!ATTLIST FASTA_FILE_ENTRY_INDEX
    ID CDATA #REQUIRED
    BLOCK_START CDATA #REQUIRED
    BLOCK_LENGTH CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    BIO_SEQUENCE_ID CDATA #REQUIRED
    SEQ_DB_ENTRY_ID CDATA #REQUIRED
    SEQ_DB_INSTANCE_ID CDATA #REQUIRED
>

<!ELEMENT FASTA_PARSING_RULE EMPTY>
<!ATTLIST FASTA_PARSING_RULE
    ID CDATA #REQUIRED
    DB_TYPE CDATA #IMPLIED
    ENTRY_ID CDATA #REQUIRED
    ENTRY_AC CDATA #IMPLIED
    ENTRY_NAME CDATA #REQUIRED
    GENE_NAME CDATA #IMPLIED
    ORGANISM_NAME CDATA #IMPLIED
    TAXON_ID CDATA #IMPLIED
>

<!ELEMENT GENE EMPTY>
<!ATTLIST GENE
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SYNONYMS CDATA #IMPLIED
    ORF_NAMES CDATA #IMPLIED
    IS_ACTIVE CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    TAXON_ID CDATA #REQUIRED
>

<!ELEMENT OBJECT_TREE EMPTY>
<!ATTLIST OBJECT_TREE
    ID CDATA #REQUIRED
    SERIALIZED_DATA CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    SCHEMA_NAME CDATA #REQUIRED
>

<!ELEMENT OBJECT_TREE_SCHEMA EMPTY>
<!ATTLIST OBJECT_TREE_SCHEMA
    NAME CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    VERSION CDATA #REQUIRED
    SCHEMA CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT PROTEIN_IDENTIFIER EMPTY>
<!ATTLIST PROTEIN_IDENTIFIER
    ID CDATA #REQUIRED
    VALUE CDATA #REQUIRED
    IS_AC_NUMBER CDATA #REQUIRED
    IS_ACTIVE CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    BIO_SEQUENCE_ID CDATA #REQUIRED
    TAXON_ID CDATA #REQUIRED
    SEQ_DB_CONFIG_ID CDATA #REQUIRED
>

<!ELEMENT SCHEMA_VERSION EMPTY>
<!ATTLIST SCHEMA_VERSION
    VERSION CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    TYPE CDATA #REQUIRED
    SCRIPT CDATA #REQUIRED
    CHECKSUM CDATA #IMPLIED
    INSTALLED_BY CDATA #REQUIRED
    INSTALLED_ON CDATA #IMPLIED
    EXECUTION_TIME CDATA #IMPLIED
    STATE CDATA #REQUIRED
    CURRENT_VERSION CDATA #REQUIRED
>

<!ELEMENT SEQ_DB_CONFIG EMPTY>
<!ATTLIST SEQ_DB_CONFIG
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    ALPHABET CDATA #REQUIRED
    REF_ENTRY_FORMAT CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    FASTA_PARSING_RULE_ID CDATA #REQUIRED
    IS_NATIVE CDATA #REQUIRED
>

<!ELEMENT SEQ_DB_ENTRY EMPTY>
<!ATTLIST SEQ_DB_ENTRY
    ID CDATA #REQUIRED
    IDENTIFIER CDATA #REQUIRED
    NAME CDATA #REQUIRED
    VERSION CDATA #IMPLIED
    REF_FILE_BLOCK_START CDATA #IMPLIED
    REF_FILE_BLOCK_LENGTH CDATA #IMPLIED
    IS_ACTIVE CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    BIO_SEQUENCE_ID CDATA #REQUIRED
    TAXON_ID CDATA #REQUIRED
    SEQ_DB_INSTANCE_ID CDATA #REQUIRED
    SEQ_DB_CONFIG_ID CDATA #REQUIRED
>

<!ELEMENT SEQ_DB_ENTRY_GENE_MAP EMPTY>
<!ATTLIST SEQ_DB_ENTRY_GENE_MAP
    SEQ_DB_ENTRY_ID CDATA #REQUIRED
    GENE_ID CDATA #REQUIRED
    SEQ_DB_INSTANCE_ID CDATA #REQUIRED
>

<!ELEMENT SEQ_DB_ENTRY_OBJECT_TREE_MAP EMPTY>
<!ATTLIST SEQ_DB_ENTRY_OBJECT_TREE_MAP
    SEQ_DB_ENTRY_ID CDATA #REQUIRED
    OBJECT_TREE_ID CDATA #REQUIRED
    SCHEMA_NAME CDATA #REQUIRED
>

<!ELEMENT SEQ_DB_ENTRY_PROTEIN_IDENTIFIER_MAP EMPTY>
<!ATTLIST SEQ_DB_ENTRY_PROTEIN_IDENTIFIER_MAP
    SEQ_DB_ENTRY_ID CDATA #REQUIRED
    PROTEIN_IDENTIFIER_ID CDATA #REQUIRED
    SEQ_DB_INSTANCE_ID CDATA #REQUIRED
>

<!ELEMENT SEQ_DB_INSTANCE EMPTY>
<!ATTLIST SEQ_DB_INSTANCE
    ID CDATA #REQUIRED
    FASTA_FILE_PATH CDATA #REQUIRED
    REF_FILE_PATH CDATA #IMPLIED
    IS_INDEXED CDATA #REQUIRED
    IS_DELETED CDATA #REQUIRED
    REVISION CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    SEQUENCE_COUNT CDATA #REQUIRED
    RESIDUE_COUNT CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    SEQ_DB_RELEASE_ID CDATA #IMPLIED
    SEQ_DB_CONFIG_ID CDATA #REQUIRED
>

<!ELEMENT SEQ_DB_RELEASE EMPTY>
<!ATTLIST SEQ_DB_RELEASE
    ID CDATA #REQUIRED
    DATE CDATA #REQUIRED
    VERSION CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT TAXON EMPTY>
<!ATTLIST TAXON
    ID CDATA #REQUIRED
    SCIENTIFIC_NAME CDATA #REQUIRED
    RANK CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    PARENT_TAXON_ID CDATA #REQUIRED
>

<!ELEMENT TAXON_EXTRA_NAME EMPTY>
<!ATTLIST TAXON_EXTRA_NAME
    ID CDATA #REQUIRED
    CLASS CDATA #REQUIRED
    VALUE CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    TAXON_ID CDATA #REQUIRED
>

