pm-mascot-parser/src/test/resources/ps-dataset.dtd

<!ELEMENT dataset (
    ADMIN_INFOS*,
    ATOM_LABEL*,
    PEPTIDE*,
    PEPTIDE_PTM*,
    PEPTIDE_PTM_INSERT_STATUS*,
    PTM*,
    PTM_CLASSIFICATION*,
    PTM_EVIDENCE*,
    PTM_SPECIFICITY*,
    schema_version*)>

<!ELEMENT ADMIN_INFOS EMPTY>
<!ATTLIST ADMIN_INFOS
    MODEL_VERSION CDATA #REQUIRED
    DB_CREATION_DATE CDATA #IMPLIED
    MODEL_UPDATE_DATE CDATA #IMPLIED
>

<!ELEMENT ATOM_LABEL EMPTY>
<!ATTLIST ATOM_LABEL
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SYMBOL CDATA #REQUIRED
    MONO_MASS CDATA #REQUIRED
    AVERAGE_MASS CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT PEPTIDE EMPTY>
<!ATTLIST PEPTIDE
    ID CDATA #REQUIRED
    SEQUENCE CDATA #REQUIRED
    PTM_STRING CDATA #IMPLIED
    CALCULATED_MASS CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    ATOM_LABEL_ID CDATA #IMPLIED
>

<!ELEMENT PEPTIDE_PTM EMPTY>
<!ATTLIST PEPTIDE_PTM
    ID CDATA #REQUIRED
    SEQ_POSITION CDATA #REQUIRED
    MONO_MASS CDATA #REQUIRED
    AVERAGE_MASS CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    PEPTIDE_ID CDATA #REQUIRED
    PTM_SPECIFICITY_ID CDATA #REQUIRED
    ATOM_LABEL_ID CDATA #IMPLIED
>

<!ELEMENT PEPTIDE_PTM_INSERT_STATUS EMPTY>
<!ATTLIST PEPTIDE_PTM_INSERT_STATUS
    PEPTIDE_ID CDATA #REQUIRED
    IS_OK CDATA #REQUIRED
>

<!ELEMENT PTM EMPTY>
<!ATTLIST PTM
    ID CDATA #REQUIRED
    UNIMOD_ID CDATA #IMPLIED
    FULL_NAME CDATA #IMPLIED
    SHORT_NAME CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT PTM_CLASSIFICATION EMPTY>
<!ATTLIST PTM_CLASSIFICATION
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
>

<!ELEMENT PTM_EVIDENCE EMPTY>
<!ATTLIST PTM_EVIDENCE
    ID CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    IS_REQUIRED CDATA #REQUIRED
    COMPOSITION CDATA #REQUIRED
    MONO_MASS CDATA #REQUIRED
    AVERAGE_MASS CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    SPECIFICITY_ID CDATA #IMPLIED
    PTM_ID CDATA #IMPLIED
>

<!ELEMENT PTM_SPECIFICITY EMPTY>
<!ATTLIST PTM_SPECIFICITY
    ID CDATA #REQUIRED
    LOCATION CDATA #REQUIRED
    RESIDUE CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    PTM_ID CDATA #REQUIRED
    CLASSIFICATION_ID CDATA #REQUIRED
>

<!ELEMENT schema_version EMPTY>
<!ATTLIST schema_version
    version_rank CDATA #REQUIRED
    installed_rank CDATA #REQUIRED
    version CDATA #REQUIRED
    description CDATA #REQUIRED
    type CDATA #REQUIRED
    script CDATA #REQUIRED
    checksum CDATA #IMPLIED
    installed_by CDATA #REQUIRED
    installed_on CDATA #REQUIRED
    execution_time CDATA #REQUIRED
    success CDATA #REQUIRED
>

