pm-mascot-parser/src/test/resources/uds-dataset.dtd

<!ELEMENT dataset (
    ACTIVATION*,
    ADMIN_INFOS*,
    AGGREGATION*,
    BIOLOGICAL_GROUP*,
    BIOLOGICAL_GROUP_BIOLOGICAL_SAMPLE_ITEM*,
    BIOLOGICAL_SAMPLE*,
    BIOLOGICAL_SAMPLE_SAMPLE_ANALYSIS_MAP*,
    DATA_SET*,
    DOCUMENT*,
    ENZYME*,
    ENZYME_CLEAVAGE*,
    EXTERNAL_DB*,
    FRACTIONATION*,
    FRAGMENTATION_RULE*,
    FRAGMENTATION_SERIES*,
    GROUP_SETUP*,
    GROUP_SETUP_BIOLOGICAL_GROUP_MAP*,
    INSTRUMENT*,
    INSTRUMENT_CONFIG*,
    INSTRUMENT_CONFIG_FRAGMENTATION_RULE_MAP*,
    MASTER_QUANT_CHANNEL*,
    OBJECT_TREE*,
    OBJECT_TREE_SCHEMA*,
    PEAKLIST_SOFTWARE*,
    PROJECT*,
    PROJECT_DB_MAP*,
    PROJECT_USER_ACCOUNT_MAP*,
    PROTEIN_MATCH_DECOY_RULE*,
    QUANT_CHANNEL*,
    QUANT_LABEL*,
    QUANT_METHOD*,
    RATIO_DEFINITION*,
    RAW_FILE*,
    RAW_FILE_PROJECT_MAP*,
    RUN*,
    RUN_IDENTIFICATION*,
    SAMPLE_ANALYSIS*,
    SPEC_TITLE_PARSING_RULE*,
    USER_ACCOUNT*,
    VIRTUAL_FOLDER*,
    schema_version*)>

<!ELEMENT ACTIVATION EMPTY>
<!ATTLIST ACTIVATION
    TYPE CDATA #REQUIRED
>

<!ELEMENT ADMIN_INFOS EMPTY>
<!ATTLIST ADMIN_INFOS
    MODEL_VERSION CDATA #REQUIRED
    DB_CREATION_DATE CDATA #IMPLIED
    MODEL_UPDATE_DATE CDATA #IMPLIED
    CONFIGURATION CDATA #REQUIRED
>

<!ELEMENT AGGREGATION EMPTY>
<!ATTLIST AGGREGATION
    ID CDATA #REQUIRED
    CHILD_NATURE CDATA #REQUIRED
>

<!ELEMENT BIOLOGICAL_GROUP EMPTY>
<!ATTLIST BIOLOGICAL_GROUP
    ID CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    QUANTITATION_ID CDATA #REQUIRED
>

<!ELEMENT BIOLOGICAL_GROUP_BIOLOGICAL_SAMPLE_ITEM EMPTY>
<!ATTLIST BIOLOGICAL_GROUP_BIOLOGICAL_SAMPLE_ITEM
    BIOLOGICAL_GROUP_ID CDATA #REQUIRED
    BIOLOGICAL_SAMPLE_ID CDATA #REQUIRED
>

<!ELEMENT BIOLOGICAL_SAMPLE EMPTY>
<!ATTLIST BIOLOGICAL_SAMPLE
    ID CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    QUANTITATION_ID CDATA #REQUIRED
>

<!ELEMENT BIOLOGICAL_SAMPLE_SAMPLE_ANALYSIS_MAP EMPTY>
<!ATTLIST BIOLOGICAL_SAMPLE_SAMPLE_ANALYSIS_MAP
    BIOLOGICAL_SAMPLE_ID CDATA #REQUIRED
    SAMPLE_ANALYSIS_ID CDATA #REQUIRED
>

<!ELEMENT DATA_SET EMPTY>
<!ATTLIST DATA_SET
    ID CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    TYPE CDATA #REQUIRED
    KEYWORDS CDATA #IMPLIED
    CREATION_TIMESTAMP CDATA #REQUIRED
    MODIFICATION_LOG CDATA #IMPLIED
    CHILDREN_COUNT CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    RESULT_SET_ID CDATA #IMPLIED
    RESULT_SUMMARY_ID CDATA #IMPLIED
    AGGREGATION_ID CDATA #IMPLIED
    FRACTIONATION_ID CDATA #IMPLIED
    QUANT_METHOD_ID CDATA #IMPLIED
    PARENT_DATASET_ID CDATA #IMPLIED
    PROJECT_ID CDATA #REQUIRED
>

<!ELEMENT DOCUMENT EMPTY>
<!ATTLIST DOCUMENT
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    KEYWORDS CDATA #IMPLIED
    CREATION_TIMESTAMP CDATA #REQUIRED
    MODIFICATION_TIMESTAMP CDATA #IMPLIED
    CREATION_LOG CDATA #IMPLIED
    MODIFICATION_LOG CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    OBJECT_TREE_ID CDATA #REQUIRED
    VIRTUAL_FOLDER_ID CDATA #REQUIRED
    PROJECT_ID CDATA #REQUIRED
    SCHEMA_NAME CDATA #REQUIRED
>

<!ELEMENT ENZYME EMPTY>
<!ATTLIST ENZYME
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    CLEAVAGE_REGEXP CDATA #IMPLIED
    IS_INDEPENDANT CDATA #REQUIRED
    IS_SEMI_SPECIFIC CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT ENZYME_CLEAVAGE EMPTY>
<!ATTLIST ENZYME_CLEAVAGE
    ID CDATA #REQUIRED
    SITE CDATA #REQUIRED
    RESIDUES CDATA #REQUIRED
    RESTRICTIVE_RESIDUES CDATA #IMPLIED
    ENZYME_ID CDATA #REQUIRED
>

<!ELEMENT EXTERNAL_DB EMPTY>
<!ATTLIST EXTERNAL_DB
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    CONNECTION_MODE CDATA #REQUIRED
    USERNAME CDATA #IMPLIED
    PASSWORD CDATA #IMPLIED
    HOST CDATA #IMPLIED
    PORT CDATA #IMPLIED
    TYPE CDATA #REQUIRED
    VERSION CDATA #REQUIRED
    IS_BUSY CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT FRACTIONATION EMPTY>
<!ATTLIST FRACTIONATION
    ID CDATA #REQUIRED
    TYPE CDATA #REQUIRED
>

<!ELEMENT FRAGMENTATION_RULE EMPTY>
<!ATTLIST FRAGMENTATION_RULE
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    PRECURSOR_MIN_CHARGE CDATA #IMPLIED
    FRAGMENT_CHARGE CDATA #IMPLIED
    FRAGMENT_MAX_MOZ CDATA #IMPLIED
    FRAGMENT_RESIDUE_CONSTRAINT CDATA #IMPLIED
    REQUIRED_SERIES_QUALITY_LEVEL CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    FRAGMENT_SERIES_ID CDATA #IMPLIED
    REQUIRED_SERIES_ID CDATA #IMPLIED
>

<!ELEMENT FRAGMENTATION_SERIES EMPTY>
<!ATTLIST FRAGMENTATION_SERIES
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    NEUTRAL_LOSS CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT GROUP_SETUP EMPTY>
<!ATTLIST GROUP_SETUP
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    QUANTITATION_ID CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
>

<!ELEMENT GROUP_SETUP_BIOLOGICAL_GROUP_MAP EMPTY>
<!ATTLIST GROUP_SETUP_BIOLOGICAL_GROUP_MAP
    GROUP_SETUP_ID CDATA #REQUIRED
    BIOLOGICAL_GROUP_ID CDATA #REQUIRED
>

<!ELEMENT INSTRUMENT EMPTY>
<!ATTLIST INSTRUMENT
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SOURCE CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT INSTRUMENT_CONFIG EMPTY>
<!ATTLIST INSTRUMENT_CONFIG
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    MS1_ANALYZER CDATA #REQUIRED
    MSN_ANALYZER CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    INSTRUMENT_ID CDATA #REQUIRED
    ACTIVATION_TYPE CDATA #REQUIRED
>

<!ELEMENT INSTRUMENT_CONFIG_FRAGMENTATION_RULE_MAP EMPTY>
<!ATTLIST INSTRUMENT_CONFIG_FRAGMENTATION_RULE_MAP
    INSTRUMENT_CONFIG_ID CDATA #REQUIRED
    FRAGMENTATION_RULE_ID CDATA #REQUIRED
>

<!ELEMENT MASTER_QUANT_CHANNEL EMPTY>
<!ATTLIST MASTER_QUANT_CHANNEL
    ID CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    LCMS_MAP_SET_ID CDATA #IMPLIED
    QUANT_RESULT_SUMMARY_ID CDATA #IMPLIED
    QUANTITATION_ID CDATA #REQUIRED
>

<!ELEMENT OBJECT_TREE EMPTY>
<!ATTLIST OBJECT_TREE
    ID CDATA #REQUIRED
    SERIALIZED_DATA CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    SCHEMA_NAME CDATA #REQUIRED
>

<!ELEMENT OBJECT_TREE_SCHEMA EMPTY>
<!ATTLIST OBJECT_TREE_SCHEMA
    NAME CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    VERSION CDATA #IMPLIED
    SCHEMA CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT PEAKLIST_SOFTWARE EMPTY>
<!ATTLIST PEAKLIST_SOFTWARE
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    VERSION CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    SPEC_TITLE_PARSING_RULE_ID CDATA #REQUIRED
>

<!ELEMENT PROJECT EMPTY>
<!ATTLIST PROJECT
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    CREATION_TIMESTAMP CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    OWNER_ID CDATA #REQUIRED
>

<!ELEMENT PROJECT_DB_MAP EMPTY>
<!ATTLIST PROJECT_DB_MAP
    PROJECT_ID CDATA #REQUIRED
    EXTERNAL_DB_ID CDATA #REQUIRED
>

<!ELEMENT PROJECT_USER_ACCOUNT_MAP EMPTY>
<!ATTLIST PROJECT_USER_ACCOUNT_MAP
    PROJECT_ID CDATA #REQUIRED
    USER_ACCOUNT_ID CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT PROTEIN_MATCH_DECOY_RULE EMPTY>
<!ATTLIST PROTEIN_MATCH_DECOY_RULE
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    AC_DECOY_TAG CDATA #REQUIRED
>

<!ELEMENT QUANT_CHANNEL EMPTY>
<!ATTLIST QUANT_CHANNEL
    ID CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    NAME CDATA #IMPLIED
    CONTEXT_KEY CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    LCMS_MAP_ID CDATA #IMPLIED
    IDENT_RESULT_SUMMARY_ID CDATA #REQUIRED
    RUN_ID CDATA #IMPLIED
    QUANT_LABEL_ID CDATA #IMPLIED
    SAMPLE_ANALYSIS_ID CDATA #REQUIRED
    BIOLOGICAL_SAMPLE_ID CDATA #REQUIRED
    MASTER_QUANT_CHANNEL_ID CDATA #REQUIRED
    QUANTITATION_ID CDATA #REQUIRED
>

<!ELEMENT QUANT_LABEL EMPTY>
<!ATTLIST QUANT_LABEL
    ID CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    QUANT_METHOD_ID CDATA #REQUIRED
>

<!ELEMENT QUANT_METHOD EMPTY>
<!ATTLIST QUANT_METHOD
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    ABUNDANCE_UNIT CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT RATIO_DEFINITION EMPTY>
<!ATTLIST RATIO_DEFINITION
    ID CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    NUMERATOR_ID CDATA #REQUIRED
    DENOMINATOR_ID CDATA #REQUIRED
    GROUP_SETUP_ID CDATA #REQUIRED
>

<!ELEMENT RAW_FILE EMPTY>
<!ATTLIST RAW_FILE
    NAME CDATA #REQUIRED
    EXTENSION CDATA #REQUIRED
    DIRECTORY CDATA #IMPLIED
    CREATION_TIMESTAMP CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    INSTRUMENT_ID CDATA #REQUIRED
    OWNER_ID CDATA #REQUIRED
>

<!ELEMENT RAW_FILE_PROJECT_MAP EMPTY>
<!ATTLIST RAW_FILE_PROJECT_MAP
    RAW_FILE_NAME CDATA #REQUIRED
    PROJECT_ID CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT RUN EMPTY>
<!ATTLIST RUN
    ID CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    RUN_START CDATA #REQUIRED
    RUN_STOP CDATA #REQUIRED
    DURATION CDATA #REQUIRED
    LC_METHOD CDATA #IMPLIED
    MS_METHOD CDATA #IMPLIED
    ANALYST CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    RAW_FILE_NAME CDATA #REQUIRED
>

<!ELEMENT RUN_IDENTIFICATION EMPTY>
<!ATTLIST RUN_IDENTIFICATION
    ID CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    RUN_ID CDATA #IMPLIED
    RAW_FILE_NAME CDATA #IMPLIED
>

<!ELEMENT SAMPLE_ANALYSIS EMPTY>
<!ATTLIST SAMPLE_ANALYSIS
    ID CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    QUANTITATION_ID CDATA #REQUIRED
>

<!ELEMENT SPEC_TITLE_PARSING_RULE EMPTY>
<!ATTLIST SPEC_TITLE_PARSING_RULE
    ID CDATA #REQUIRED
    RAW_FILE_NAME CDATA #IMPLIED
    FIRST_CYCLE CDATA #IMPLIED
    LAST_CYCLE CDATA #IMPLIED
    FIRST_SCAN CDATA #IMPLIED
    LAST_SCAN CDATA #IMPLIED
    FIRST_TIME CDATA #IMPLIED
    LAST_TIME CDATA #IMPLIED
>

<!ELEMENT USER_ACCOUNT EMPTY>
<!ATTLIST USER_ACCOUNT
    ID CDATA #REQUIRED
    LOGIN CDATA #REQUIRED
    CREATION_MODE CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    PASSWORD_HASH CDATA #REQUIRED
>

<!ELEMENT VIRTUAL_FOLDER EMPTY>
<!ATTLIST VIRTUAL_FOLDER
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    PATH CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    PARENT_VIRTUAL_FOLDER_ID CDATA #IMPLIED
    PROJECT_ID CDATA #REQUIRED
>

<!ELEMENT schema_version EMPTY>
<!ATTLIST schema_version
    version_rank CDATA #REQUIRED
    installed_rank CDATA #REQUIRED
    version CDATA #REQUIRED
    description CDATA #REQUIRED
    type CDATA #REQUIRED
    script CDATA #REQUIRED
    checksum CDATA #IMPLIED
    installed_by CDATA #REQUIRED
    installed_on CDATA #REQUIRED
    execution_time CDATA #REQUIRED
    success CDATA #REQUIRED
>

