pm-xtandem-parser/src/test/resources/default_datasets/lcms-dataset.dtd

<!ELEMENT dataset (
    CACHE*,
    COMPOUND*,
    FEATURE*,
    FEATURE_CLUSTER_ITEM*,
    FEATURE_MS2_EVENT*,
    FEATURE_OBJECT_TREE_MAPPING*,
    FEATURE_OVERLAP_MAPPING*,
    FEATURE_PEAKEL_ITEM*,
    FEATURE_SCORING*,
    INSTRUMENT*,
    MAP*,
    MAP_ALIGNMENT*,
    MAP_LAYER*,
    MAP_OBJECT_TREE_MAPPING*,
    MAP_SET*,
    MAP_SET_OBJECT_TREE_MAPPING*,
    MASTER_FEATURE_ITEM*,
    MS_PICTURE*,
    OBJECT_TREE*,
    OBJECT_TREE_SCHEMA*,
    PEAKEL*,
    PEAKEL_FITTING_MODEL*,
    PEAK_PICKING_SOFTWARE*,
    PROCESSED_MAP*,
    PROCESSED_MAP_FEATURE_ITEM*,
    PROCESSED_MAP_MOZ_CALIBRATION*,
    PROCESSED_MAP_RAW_MAP_MAPPING*,
    RAW_MAP*,
    SCAN*,
    SCAN_SEQUENCE*,
    THEORETICAL_FEATURE*,
    TILE*,
    schema_version*)>

<!ELEMENT CACHE EMPTY>
<!ATTLIST CACHE
    SCOPE CDATA #REQUIRED
    ID CDATA #REQUIRED
    FORMAT CDATA #REQUIRED
    BYTE_ORDER CDATA #REQUIRED
    DATA CDATA #REQUIRED
    COMPRESSION CDATA #REQUIRED
    TIMESTAMP CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT COMPOUND EMPTY>
<!ATTLIST COMPOUND
    ID CDATA #IMPLIED
    EXPERIMENTAL_MASS CDATA #REQUIRED
    THEORETICAL_MASS CDATA #IMPLIED
    ELUTION_TIME CDATA #REQUIRED
    FORMULA CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    BEST_FEATURE_ID CDATA #REQUIRED
    MAP_LAYER_ID CDATA #IMPLIED
    MAP_ID CDATA #REQUIRED
>

<!ELEMENT FEATURE EMPTY>
<!ATTLIST FEATURE
    ID CDATA #IMPLIED
    MOZ CDATA #REQUIRED
    INTENSITY CDATA #REQUIRED
    CHARGE CDATA #REQUIRED
    ELUTION_TIME CDATA #REQUIRED
    QUALITY_SCORE CDATA #IMPLIED
    MS1_COUNT CDATA #REQUIRED
    MS2_COUNT CDATA #REQUIRED
    IS_CLUSTER CDATA #REQUIRED
    IS_OVERLAPPING CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    FIRST_SCAN_ID CDATA #REQUIRED
    LAST_SCAN_ID CDATA #REQUIRED
    APEX_SCAN_ID CDATA #REQUIRED
    THEORETICAL_FEATURE_ID CDATA #IMPLIED
    COMPOUND_ID CDATA #IMPLIED
    MAP_LAYER_ID CDATA #IMPLIED
    MAP_ID CDATA #REQUIRED
    APEX_INTENSITY CDATA #IMPLIED
    DURATION CDATA #IMPLIED
    PEAKEL_COUNT CDATA #REQUIRED
>

<!ELEMENT FEATURE_CLUSTER_ITEM EMPTY>
<!ATTLIST FEATURE_CLUSTER_ITEM
    CLUSTER_FEATURE_ID CDATA #REQUIRED
    SUB_FEATURE_ID CDATA #REQUIRED
    PROCESSED_MAP_ID CDATA #REQUIRED
>

<!ELEMENT FEATURE_MS2_EVENT EMPTY>
<!ATTLIST FEATURE_MS2_EVENT
    FEATURE_ID CDATA #REQUIRED
    MS2_EVENT_ID CDATA #REQUIRED
    RAW_MAP_ID CDATA #REQUIRED
>

<!ELEMENT FEATURE_OBJECT_TREE_MAPPING EMPTY>
<!ATTLIST FEATURE_OBJECT_TREE_MAPPING
    FEATURE_ID CDATA #REQUIRED
    OBJECT_TREE_ID CDATA #REQUIRED
    SCHEMA_NAME CDATA #REQUIRED
>

<!ELEMENT FEATURE_OVERLAP_MAPPING EMPTY>
<!ATTLIST FEATURE_OVERLAP_MAPPING
    OVERLAPPED_FEATURE_ID CDATA #REQUIRED
    OVERLAPPING_FEATURE_ID CDATA #REQUIRED
    MAP_ID CDATA #REQUIRED
>

<!ELEMENT FEATURE_PEAKEL_ITEM EMPTY>
<!ATTLIST FEATURE_PEAKEL_ITEM
    FEATURE_ID CDATA #REQUIRED
    PEAKEL_ID CDATA #REQUIRED
    ISOTOPE_INDEX CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    MAP_ID CDATA #REQUIRED
    IS_BASE_PEAKEL CDATA #REQUIRED
>

<!ELEMENT FEATURE_SCORING EMPTY>
<!ATTLIST FEATURE_SCORING
    ID CDATA #IMPLIED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT INSTRUMENT EMPTY>
<!ATTLIST INSTRUMENT
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SOURCE CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT MAP EMPTY>
<!ATTLIST MAP
    ID CDATA #IMPLIED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    TYPE CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    MODIFICATION_TIMESTAMP CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    FEATURE_SCORING_ID CDATA #REQUIRED
>

<!ELEMENT MAP_ALIGNMENT EMPTY>
<!ATTLIST MAP_ALIGNMENT
    FROM_MAP_ID CDATA #REQUIRED
    TO_MAP_ID CDATA #REQUIRED
    MASS_START CDATA #REQUIRED
    MASS_END CDATA #REQUIRED
    TIME_LIST CDATA #REQUIRED
    DELTA_TIME_LIST CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    MAP_SET_ID CDATA #REQUIRED
>

<!ELEMENT MAP_LAYER EMPTY>
<!ATTLIST MAP_LAYER
    ID CDATA #IMPLIED
    NUMBER CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    PROCESSED_MAP_ID CDATA #REQUIRED
    MAP_SET_ID CDATA #REQUIRED
>

<!ELEMENT MAP_OBJECT_TREE_MAPPING EMPTY>
<!ATTLIST MAP_OBJECT_TREE_MAPPING
    MAP_ID CDATA #REQUIRED
    OBJECT_TREE_ID CDATA #REQUIRED
    SCHEMA_NAME CDATA #REQUIRED
>

<!ELEMENT MAP_SET EMPTY>
<!ATTLIST MAP_SET
    ID CDATA #IMPLIED
    NAME CDATA #REQUIRED
    MAP_COUNT CDATA #REQUIRED
    CREATION_TIMESTAMP CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    MASTER_MAP_ID CDATA #IMPLIED
    ALN_REFERENCE_MAP_ID CDATA #IMPLIED
>

<!ELEMENT MAP_SET_OBJECT_TREE_MAPPING EMPTY>
<!ATTLIST MAP_SET_OBJECT_TREE_MAPPING
    MAP_SET_ID CDATA #REQUIRED
    OBJECT_TREE_ID CDATA #REQUIRED
    SCHEMA_NAME CDATA #REQUIRED
>

<!ELEMENT MASTER_FEATURE_ITEM EMPTY>
<!ATTLIST MASTER_FEATURE_ITEM
    MASTER_FEATURE_ID CDATA #REQUIRED
    CHILD_FEATURE_ID CDATA #REQUIRED
    IS_BEST_CHILD CDATA #REQUIRED
    MASTER_MAP_ID CDATA #REQUIRED
>

<!ELEMENT MS_PICTURE EMPTY>
<!ATTLIST MS_PICTURE
    ID CDATA #IMPLIED
    Z_INDEX CDATA #REQUIRED
    MOZ_RESOLUTION CDATA #REQUIRED
    TIME_RESOLUTION CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    RUN_ID CDATA #REQUIRED
>

<!ELEMENT OBJECT_TREE EMPTY>
<!ATTLIST OBJECT_TREE
    ID CDATA #IMPLIED
    CLOB_DATA CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    SCHEMA_NAME CDATA #REQUIRED
    BLOB_DATA CDATA #IMPLIED
>

<!ELEMENT OBJECT_TREE_SCHEMA EMPTY>
<!ATTLIST OBJECT_TREE_SCHEMA
    NAME CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    VERSION CDATA #REQUIRED
    SCHEMA CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    IS_BINARY_MODE CDATA #REQUIRED
>

<!ELEMENT PEAKEL EMPTY>
<!ATTLIST PEAKEL
    ID CDATA #IMPLIED
    MOZ CDATA #REQUIRED
    ELUTION_TIME CDATA #REQUIRED
    APEX_INTENSITY CDATA #REQUIRED
    AREA CDATA #REQUIRED
    DURATION CDATA #REQUIRED
    FWHM CDATA #IMPLIED
    IS_OVERLAPPING CDATA #REQUIRED
    FEATURE_COUNT CDATA #REQUIRED
    PEAK_COUNT CDATA #REQUIRED
    PEAKS CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    FIRST_SCAN_ID CDATA #REQUIRED
    LAST_SCAN_ID CDATA #REQUIRED
    APEX_SCAN_ID CDATA #REQUIRED
    MAP_ID CDATA #REQUIRED
>

<!ELEMENT PEAKEL_FITTING_MODEL EMPTY>
<!ATTLIST PEAKEL_FITTING_MODEL
    ID CDATA #IMPLIED
    NAME CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT PEAK_PICKING_SOFTWARE EMPTY>
<!ATTLIST PEAK_PICKING_SOFTWARE
    ID CDATA #IMPLIED
    NAME CDATA #REQUIRED
    VERSION CDATA #REQUIRED
    ALGORITHM CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT PROCESSED_MAP EMPTY>
<!ATTLIST PROCESSED_MAP
    ID CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    NORMALIZATION_FACTOR CDATA #IMPLIED
    IS_MASTER CDATA #REQUIRED
    IS_ALN_REFERENCE CDATA #REQUIRED
    IS_LOCKED CDATA #IMPLIED
    MAP_SET_ID CDATA #REQUIRED
>

<!ELEMENT PROCESSED_MAP_FEATURE_ITEM EMPTY>
<!ATTLIST PROCESSED_MAP_FEATURE_ITEM
    PROCESSED_MAP_ID CDATA #REQUIRED
    FEATURE_ID CDATA #REQUIRED
    CALIBRATED_MOZ CDATA #REQUIRED
    NORMALIZED_INTENSITY CDATA #REQUIRED
    CORRECTED_ELUTION_TIME CDATA #REQUIRED
    IS_CLUSTERIZED CDATA #REQUIRED
    SELECTION_LEVEL CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT PROCESSED_MAP_MOZ_CALIBRATION EMPTY>
<!ATTLIST PROCESSED_MAP_MOZ_CALIBRATION
    PROCESSED_MAP_ID CDATA #REQUIRED
    SCAN_ID CDATA #REQUIRED
    MOZ_LIST CDATA #REQUIRED
    DELTA_MOZ_LIST CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT PROCESSED_MAP_RAW_MAP_MAPPING EMPTY>
<!ATTLIST PROCESSED_MAP_RAW_MAP_MAPPING
    PROCESSED_MAP_ID CDATA #REQUIRED
    RAW_MAP_ID CDATA #REQUIRED
>

<!ELEMENT RAW_MAP EMPTY>
<!ATTLIST RAW_MAP
    ID CDATA #REQUIRED
    SCAN_SEQUENCE_ID CDATA #REQUIRED
    PEAK_PICKING_SOFTWARE_ID CDATA #REQUIRED
    PEAKEL_FITTING_MODEL_ID CDATA #IMPLIED
>

<!ELEMENT SCAN EMPTY>
<!ATTLIST SCAN
    ID CDATA #IMPLIED
    INITIAL_ID CDATA #REQUIRED
    CYCLE CDATA #REQUIRED
    TIME CDATA #REQUIRED
    MS_LEVEL CDATA #REQUIRED
    TIC CDATA #REQUIRED
    BASE_PEAK_MOZ CDATA #REQUIRED
    BASE_PEAK_INTENSITY CDATA #REQUIRED
    PRECURSOR_MOZ CDATA #IMPLIED
    PRECURSOR_CHARGE CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    SCAN_SEQUENCE_ID CDATA #REQUIRED
>

<!ELEMENT SCAN_SEQUENCE EMPTY>
<!ATTLIST SCAN_SEQUENCE
    ID CDATA #REQUIRED
    RAW_FILE_IDENTIFIER CDATA #REQUIRED
    MIN_INTENSITY CDATA #IMPLIED
    MAX_INTENSITY CDATA #IMPLIED
    MS1_SCAN_COUNT CDATA #REQUIRED
    MS2_SCAN_COUNT CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    INSTRUMENT_ID CDATA #REQUIRED
>

<!ELEMENT THEORETICAL_FEATURE EMPTY>
<!ATTLIST THEORETICAL_FEATURE
    ID CDATA #IMPLIED
    MOZ CDATA #REQUIRED
    CHARGE CDATA #REQUIRED
    ELUTION_TIME CDATA #REQUIRED
    SOURCE_TYPE CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    MAP_LAYER_ID CDATA #IMPLIED
    MAP_ID CDATA #REQUIRED
>

<!ELEMENT TILE EMPTY>
<!ATTLIST TILE
    ID CDATA #IMPLIED
    X_INDEX CDATA #REQUIRED
    Y_INDEX CDATA #REQUIRED
    BEGIN_MOZ CDATA #REQUIRED
    END_MOZ CDATA #REQUIRED
    BEGIN_TIME CDATA #REQUIRED
    END_TIME CDATA #REQUIRED
    WIDTH CDATA #REQUIRED
    HEIGHT CDATA #REQUIRED
    INTENSITIES CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    MS_PICTURE_ID CDATA #REQUIRED
>

<!ELEMENT schema_version EMPTY>
<!ATTLIST schema_version
    version_rank CDATA #REQUIRED
    installed_rank CDATA #REQUIRED
    version CDATA #REQUIRED
    description CDATA #REQUIRED
    type CDATA #REQUIRED
    script CDATA #REQUIRED
    checksum CDATA #IMPLIED
    installed_by CDATA #REQUIRED
    installed_on CDATA #IMPLIED
    execution_time CDATA #REQUIRED
    success CDATA #REQUIRED
>

