pm-xtandem-parser/src/test/resources/default_datasets/msi-dataset.dtd

<!ELEMENT dataset (
    ADMIN_INFOS*,
    ATOM_LABEL*,
    BIO_SEQUENCE*,
    CACHE*,
    CONSENSUS_SPECTRUM*,
    ENZYME*,
    INSTRUMENT_CONFIG*,
    ION_SEARCH*,
    MASTER_QUANT_COMPONENT*,
    MASTER_QUANT_PEPTIDE_ION*,
    MASTER_QUANT_REPORTER_ION*,
    MSI_SEARCH*,
    MSI_SEARCH_OBJECT_TREE_MAP*,
    MSMS_SEARCH*,
    MS_QUERY*,
    OBJECT_TREE*,
    OBJECT_TREE_SCHEMA*,
    PEAKLIST*,
    PEAKLIST_RELATION*,
    PEAKLIST_SOFTWARE*,
    PEPTIDE*,
    PEPTIDE_INSTANCE*,
    PEPTIDE_INSTANCE_PEPTIDE_MATCH_MAP*,
    PEPTIDE_MATCH*,
    PEPTIDE_MATCH_OBJECT_TREE_MAP*,
    PEPTIDE_MATCH_RELATION*,
    PEPTIDE_PTM*,
    PEPTIDE_READABLE_PTM_STRING*,
    PEPTIDE_SET*,
    PEPTIDE_SET_PEPTIDE_INSTANCE_ITEM*,
    PEPTIDE_SET_PROTEIN_MATCH_MAP*,
    PEPTIDE_SET_RELATION*,
    PROTEIN_MATCH*,
    PROTEIN_MATCH_SEQ_DATABASE_MAP*,
    PROTEIN_SET*,
    PROTEIN_SET_OBJECT_TREE_MAP*,
    PROTEIN_SET_PROTEIN_MATCH_ITEM*,
    PTM*,
    PTM_CLASSIFICATION*,
    PTM_EVIDENCE*,
    PTM_SPECIFICITY*,
    RESULT_SET*,
    RESULT_SET_OBJECT_TREE_MAP*,
    RESULT_SET_RELATION*,
    RESULT_SUMMARY*,
    RESULT_SUMMARY_OBJECT_TREE_MAP*,
    RESULT_SUMMARY_RELATION*,
    SCORING*,
    SEARCH_SETTINGS*,
    SEARCH_SETTINGS_SEQ_DATABASE_MAP*,
    SEQUENCE_MATCH*,
    SEQ_DATABASE*,
    SPECTRUM*,
    USED_ENZYME*,
    USED_PTM*,
    schema_version*)>

<!ELEMENT ADMIN_INFOS EMPTY>
<!ATTLIST ADMIN_INFOS
    MODEL_VERSION CDATA #REQUIRED
    DB_CREATION_DATE CDATA #IMPLIED
    MODEL_UPDATE_DATE CDATA #IMPLIED
>

<!ELEMENT ATOM_LABEL EMPTY>
<!ATTLIST ATOM_LABEL
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SYMBOL CDATA #REQUIRED
    MONO_MASS CDATA #REQUIRED
    AVERAGE_MASS CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT BIO_SEQUENCE EMPTY>
<!ATTLIST BIO_SEQUENCE
    ID CDATA #REQUIRED
    ALPHABET CDATA #REQUIRED
    SEQUENCE CDATA #REQUIRED
    LENGTH CDATA #REQUIRED
    MASS CDATA #REQUIRED
    PI CDATA #REQUIRED
    CRC64 CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT CACHE EMPTY>
<!ATTLIST CACHE
    SCOPE CDATA #REQUIRED
    ID CDATA #REQUIRED
    FORMAT CDATA #REQUIRED
    BYTE_ORDER CDATA #REQUIRED
    DATA CDATA #REQUIRED
    COMPRESSION CDATA #REQUIRED
    TIMESTAMP CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT CONSENSUS_SPECTRUM EMPTY>
<!ATTLIST CONSENSUS_SPECTRUM
    ID CDATA #REQUIRED
    PRECURSOR_CHARGE CDATA #REQUIRED
    PRECURSOR_CALCULATED_MOZ CDATA #REQUIRED
    NORMALIZED_ELUTION_TIME CDATA #IMPLIED
    IS_ARTIFICIAL CDATA #REQUIRED
    CREATION_MODE CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    SPECTRUM_ID CDATA #REQUIRED
    PEPTIDE_ID CDATA #REQUIRED
>

<!ELEMENT ENZYME EMPTY>
<!ATTLIST ENZYME
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    CLEAVAGE_REGEXP CDATA #IMPLIED
    IS_INDEPENDANT CDATA #REQUIRED
    IS_SEMI_SPECIFIC CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT INSTRUMENT_CONFIG EMPTY>
<!ATTLIST INSTRUMENT_CONFIG
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    MS1_ANALYZER CDATA #REQUIRED
    MSN_ANALYZER CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT ION_SEARCH EMPTY>
<!ATTLIST ION_SEARCH
    ID CDATA #REQUIRED
    MAX_PROTEIN_MASS CDATA #IMPLIED
    MIN_PROTEIN_MASS CDATA #IMPLIED
    PROTEIN_PI CDATA #IMPLIED
>

<!ELEMENT MASTER_QUANT_COMPONENT EMPTY>
<!ATTLIST MASTER_QUANT_COMPONENT
    ID CDATA #REQUIRED
    SELECTION_LEVEL CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    OBJECT_TREE_ID CDATA #REQUIRED
    SCHEMA_NAME CDATA #REQUIRED
    RESULT_SUMMARY_ID CDATA #REQUIRED
>

<!ELEMENT MASTER_QUANT_PEPTIDE_ION EMPTY>
<!ATTLIST MASTER_QUANT_PEPTIDE_ION
    ID CDATA #REQUIRED
    CHARGE CDATA #REQUIRED
    MOZ CDATA #REQUIRED
    ELUTION_TIME CDATA #REQUIRED
    SCAN_NUMBER CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    LCMS_MASTER_FEATURE_ID CDATA #IMPLIED
    PEPTIDE_ID CDATA #IMPLIED
    PEPTIDE_INSTANCE_ID CDATA #IMPLIED
    MASTER_QUANT_PEPTIDE_ID CDATA #REQUIRED
    MASTER_QUANT_COMPONENT_ID CDATA #REQUIRED
    BEST_PEPTIDE_MATCH_ID CDATA #IMPLIED
    UNMODIFIED_PEPTIDE_ION_ID CDATA #IMPLIED
    RESULT_SUMMARY_ID CDATA #REQUIRED
    PEPTIDE_MATCH_COUNT CDATA #REQUIRED
>

<!ELEMENT MASTER_QUANT_REPORTER_ION EMPTY>
<!ATTLIST MASTER_QUANT_REPORTER_ION
    ID CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    MASTER_QUANT_COMPONENT_ID CDATA #REQUIRED
    MS_QUERY_ID CDATA #REQUIRED
    MASTER_QUANT_PEPTIDE_ION_ID CDATA #REQUIRED
    RESULT_SUMMARY_ID CDATA #REQUIRED
>

<!ELEMENT MSI_SEARCH EMPTY>
<!ATTLIST MSI_SEARCH
    ID CDATA #REQUIRED
    TITLE CDATA #IMPLIED
    DATE CDATA #IMPLIED
    RESULT_FILE_NAME CDATA #REQUIRED
    RESULT_FILE_DIRECTORY CDATA #IMPLIED
    JOB_NUMBER CDATA #IMPLIED
    USER_NAME CDATA #IMPLIED
    USER_EMAIL CDATA #IMPLIED
    QUERIES_COUNT CDATA #IMPLIED
    SEARCHED_SEQUENCES_COUNT CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    SEARCH_SETTINGS_ID CDATA #REQUIRED
    PEAKLIST_ID CDATA #REQUIRED
>

<!ELEMENT MSI_SEARCH_OBJECT_TREE_MAP EMPTY>
<!ATTLIST MSI_SEARCH_OBJECT_TREE_MAP
    MSI_SEARCH_ID CDATA #REQUIRED
    OBJECT_TREE_ID CDATA #REQUIRED
    SCHEMA_NAME CDATA #REQUIRED
>

<!ELEMENT MSMS_SEARCH EMPTY>
<!ATTLIST MSMS_SEARCH
    ID CDATA #REQUIRED
    FRAGMENT_CHARGE_STATES CDATA #IMPLIED
    FRAGMENT_MASS_ERROR_TOLERANCE CDATA #REQUIRED
    FRAGMENT_MASS_ERROR_TOLERANCE_UNIT CDATA #REQUIRED
>

<!ELEMENT MS_QUERY EMPTY>
<!ATTLIST MS_QUERY
    ID CDATA #REQUIRED
    INITIAL_ID CDATA #REQUIRED
    CHARGE CDATA #REQUIRED
    MOZ CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    SPECTRUM_ID CDATA #IMPLIED
    MSI_SEARCH_ID CDATA #REQUIRED
>

<!ELEMENT OBJECT_TREE EMPTY>
<!ATTLIST OBJECT_TREE
    ID CDATA #REQUIRED
    BLOB_DATA CDATA #IMPLIED
    CLOB_DATA CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    SCHEMA_NAME CDATA #REQUIRED
>

<!ELEMENT OBJECT_TREE_SCHEMA EMPTY>
<!ATTLIST OBJECT_TREE_SCHEMA
    NAME CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    IS_BINARY_MODE CDATA #REQUIRED
    VERSION CDATA #REQUIRED
    SCHEMA CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT PEAKLIST EMPTY>
<!ATTLIST PEAKLIST
    ID CDATA #REQUIRED
    TYPE CDATA #IMPLIED
    PATH CDATA #IMPLIED
    RAW_FILE_IDENTIFIER CDATA #IMPLIED
    MS_LEVEL CDATA #REQUIRED
    SPECTRUM_DATA_COMPRESSION CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    PEAKLIST_SOFTWARE_ID CDATA #REQUIRED
>

<!ELEMENT PEAKLIST_RELATION EMPTY>
<!ATTLIST PEAKLIST_RELATION
    PARENT_PEAKLIST_ID CDATA #REQUIRED
    CHILD_PEAKLIST_ID CDATA #REQUIRED
>

<!ELEMENT PEAKLIST_SOFTWARE EMPTY>
<!ATTLIST PEAKLIST_SOFTWARE
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    VERSION CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT PEPTIDE EMPTY>
<!ATTLIST PEPTIDE
    ID CDATA #REQUIRED
    SEQUENCE CDATA #REQUIRED
    PTM_STRING CDATA #IMPLIED
    CALCULATED_MASS CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    ATOM_LABEL_ID CDATA #IMPLIED
>

<!ELEMENT PEPTIDE_INSTANCE EMPTY>
<!ATTLIST PEPTIDE_INSTANCE
    ID CDATA #REQUIRED
    PEPTIDE_MATCH_COUNT CDATA #REQUIRED
    PROTEIN_MATCH_COUNT CDATA #REQUIRED
    PROTEIN_SET_COUNT CDATA #REQUIRED
    VALIDATED_PROTEIN_SET_COUNT CDATA #REQUIRED
    TOTAL_LEAVES_MATCH_COUNT CDATA #REQUIRED
    SELECTION_LEVEL CDATA #REQUIRED
    ELUTION_TIME CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    BEST_PEPTIDE_MATCH_ID CDATA #REQUIRED
    PEPTIDE_ID CDATA #REQUIRED
    UNMODIFIED_PEPTIDE_ID CDATA #IMPLIED
    MASTER_QUANT_COMPONENT_ID CDATA #IMPLIED
    RESULT_SUMMARY_ID CDATA #REQUIRED
>

<!ELEMENT PEPTIDE_INSTANCE_PEPTIDE_MATCH_MAP EMPTY>
<!ATTLIST PEPTIDE_INSTANCE_PEPTIDE_MATCH_MAP
    PEPTIDE_INSTANCE_ID CDATA #REQUIRED
    PEPTIDE_MATCH_ID CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    RESULT_SUMMARY_ID CDATA #REQUIRED
>

<!ELEMENT PEPTIDE_MATCH EMPTY>
<!ATTLIST PEPTIDE_MATCH
    ID CDATA #REQUIRED
    CHARGE CDATA #REQUIRED
    EXPERIMENTAL_MOZ CDATA #REQUIRED
    SCORE CDATA #IMPLIED
    RANK CDATA #IMPLIED
    DELTA_MOZ CDATA #IMPLIED
    MISSED_CLEAVAGE CDATA #REQUIRED
    FRAGMENT_MATCH_COUNT CDATA #IMPLIED
    IS_DECOY CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    PEPTIDE_ID CDATA #REQUIRED
    MS_QUERY_ID CDATA #REQUIRED
    BEST_CHILD_ID CDATA #IMPLIED
    SCORING_ID CDATA #REQUIRED
    RESULT_SET_ID CDATA #REQUIRED
    CD_PRETTY_RANK CDATA #IMPLIED
    SD_PRETTY_RANK CDATA #IMPLIED
>

<!ELEMENT PEPTIDE_MATCH_OBJECT_TREE_MAP EMPTY>
<!ATTLIST PEPTIDE_MATCH_OBJECT_TREE_MAP
    PEPTIDE_MATCH_ID CDATA #REQUIRED
    OBJECT_TREE_ID CDATA #REQUIRED
    SCHEMA_NAME CDATA #REQUIRED
>

<!ELEMENT PEPTIDE_MATCH_RELATION EMPTY>
<!ATTLIST PEPTIDE_MATCH_RELATION
    PARENT_PEPTIDE_MATCH_ID CDATA #REQUIRED
    CHILD_PEPTIDE_MATCH_ID CDATA #REQUIRED
    PARENT_RESULT_SET_ID CDATA #REQUIRED
>

<!ELEMENT PEPTIDE_PTM EMPTY>
<!ATTLIST PEPTIDE_PTM
    ID CDATA #REQUIRED
    SEQ_POSITION CDATA #REQUIRED
    MONO_MASS CDATA #REQUIRED
    AVERAGE_MASS CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    PEPTIDE_ID CDATA #REQUIRED
    PTM_SPECIFICITY_ID CDATA #REQUIRED
    ATOM_LABEL_ID CDATA #IMPLIED
>

<!ELEMENT PEPTIDE_READABLE_PTM_STRING EMPTY>
<!ATTLIST PEPTIDE_READABLE_PTM_STRING
    READABLE_PTM_STRING CDATA #REQUIRED
    PEPTIDE_ID CDATA #REQUIRED
    RESULT_SET_ID CDATA #REQUIRED
>

<!ELEMENT PEPTIDE_SET EMPTY>
<!ATTLIST PEPTIDE_SET
    ID CDATA #REQUIRED
    IS_SUBSET CDATA #REQUIRED
    SCORE CDATA #REQUIRED
    PEPTIDE_COUNT CDATA #REQUIRED
    PEPTIDE_MATCH_COUNT CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    PROTEIN_SET_ID CDATA #IMPLIED
    SCORING_ID CDATA #REQUIRED
    RESULT_SUMMARY_ID CDATA #REQUIRED
    SEQUENCE_COUNT CDATA #REQUIRED
>

<!ELEMENT PEPTIDE_SET_PEPTIDE_INSTANCE_ITEM EMPTY>
<!ATTLIST PEPTIDE_SET_PEPTIDE_INSTANCE_ITEM
    PEPTIDE_SET_ID CDATA #REQUIRED
    PEPTIDE_INSTANCE_ID CDATA #REQUIRED
    IS_BEST_PEPTIDE_SET CDATA #REQUIRED
    SELECTION_LEVEL CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    RESULT_SUMMARY_ID CDATA #REQUIRED
>

<!ELEMENT PEPTIDE_SET_PROTEIN_MATCH_MAP EMPTY>
<!ATTLIST PEPTIDE_SET_PROTEIN_MATCH_MAP
    PEPTIDE_SET_ID CDATA #REQUIRED
    PROTEIN_MATCH_ID CDATA #REQUIRED
    RESULT_SUMMARY_ID CDATA #REQUIRED
>

<!ELEMENT PEPTIDE_SET_RELATION EMPTY>
<!ATTLIST PEPTIDE_SET_RELATION
    PEPTIDE_OVERSET_ID CDATA #REQUIRED
    PEPTIDE_SUBSET_ID CDATA #REQUIRED
    IS_STRICT_SUBSET CDATA #REQUIRED
    RESULT_SUMMARY_ID CDATA #REQUIRED
>

<!ELEMENT PROTEIN_MATCH EMPTY>
<!ATTLIST PROTEIN_MATCH
    ID CDATA #REQUIRED
    ACCESSION CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    GENE_NAME CDATA #IMPLIED
    SCORE CDATA #REQUIRED
    COVERAGE CDATA #REQUIRED
    PEPTIDE_COUNT CDATA #REQUIRED
    PEPTIDE_MATCH_COUNT CDATA #REQUIRED
    IS_DECOY CDATA #REQUIRED
    IS_LAST_BIO_SEQUENCE CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    TAXON_ID CDATA #IMPLIED
    BIO_SEQUENCE_ID CDATA #IMPLIED
    SCORING_ID CDATA #REQUIRED
    RESULT_SET_ID CDATA #REQUIRED
>

<!ELEMENT PROTEIN_MATCH_SEQ_DATABASE_MAP EMPTY>
<!ATTLIST PROTEIN_MATCH_SEQ_DATABASE_MAP
    PROTEIN_MATCH_ID CDATA #REQUIRED
    SEQ_DATABASE_ID CDATA #REQUIRED
    RESULT_SET_ID CDATA #REQUIRED
>

<!ELEMENT PROTEIN_SET EMPTY>
<!ATTLIST PROTEIN_SET
    ID CDATA #REQUIRED
    IS_VALIDATED CDATA #REQUIRED
    SELECTION_LEVEL CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    REPRESENTATIVE_PROTEIN_MATCH_ID CDATA #REQUIRED
    MASTER_QUANT_COMPONENT_ID CDATA #IMPLIED
    RESULT_SUMMARY_ID CDATA #REQUIRED
    IS_DECOY CDATA #REQUIRED
>

<!ELEMENT PROTEIN_SET_OBJECT_TREE_MAP EMPTY>
<!ATTLIST PROTEIN_SET_OBJECT_TREE_MAP
    PROTEIN_SET_ID CDATA #REQUIRED
    OBJECT_TREE_ID CDATA #REQUIRED
    SCHEMA_NAME CDATA #REQUIRED
>

<!ELEMENT PROTEIN_SET_PROTEIN_MATCH_ITEM EMPTY>
<!ATTLIST PROTEIN_SET_PROTEIN_MATCH_ITEM
    PROTEIN_SET_ID CDATA #REQUIRED
    PROTEIN_MATCH_ID CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    RESULT_SUMMARY_ID CDATA #REQUIRED
    IS_IN_SUBSET CDATA #REQUIRED
    COVERAGE CDATA #REQUIRED
>

<!ELEMENT PTM EMPTY>
<!ATTLIST PTM
    ID CDATA #REQUIRED
    UNIMOD_ID CDATA #IMPLIED
    FULL_NAME CDATA #IMPLIED
    SHORT_NAME CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT PTM_CLASSIFICATION EMPTY>
<!ATTLIST PTM_CLASSIFICATION
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
>

<!ELEMENT PTM_EVIDENCE EMPTY>
<!ATTLIST PTM_EVIDENCE
    ID CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    IS_REQUIRED CDATA #REQUIRED
    COMPOSITION CDATA #REQUIRED
    MONO_MASS CDATA #REQUIRED
    AVERAGE_MASS CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    SPECIFICITY_ID CDATA #IMPLIED
    PTM_ID CDATA #IMPLIED
>

<!ELEMENT PTM_SPECIFICITY EMPTY>
<!ATTLIST PTM_SPECIFICITY
    ID CDATA #REQUIRED
    LOCATION CDATA #REQUIRED
    RESIDUE CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    PTM_ID CDATA #REQUIRED
    CLASSIFICATION_ID CDATA #REQUIRED
>

<!ELEMENT RESULT_SET EMPTY>
<!ATTLIST RESULT_SET
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    TYPE CDATA #REQUIRED
    CREATION_LOG CDATA #IMPLIED
    MODIFICATION_TIMESTAMP CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    DECOY_RESULT_SET_ID CDATA #IMPLIED
    MSI_SEARCH_ID CDATA #IMPLIED
    MERGED_RSM_ID CDATA #IMPLIED
>

<!ELEMENT RESULT_SET_OBJECT_TREE_MAP EMPTY>
<!ATTLIST RESULT_SET_OBJECT_TREE_MAP
    RESULT_SET_ID CDATA #REQUIRED
    OBJECT_TREE_ID CDATA #REQUIRED
    SCHEMA_NAME CDATA #REQUIRED
>

<!ELEMENT RESULT_SET_RELATION EMPTY>
<!ATTLIST RESULT_SET_RELATION
    PARENT_RESULT_SET_ID CDATA #REQUIRED
    CHILD_RESULT_SET_ID CDATA #REQUIRED
>

<!ELEMENT RESULT_SUMMARY EMPTY>
<!ATTLIST RESULT_SUMMARY
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    CREATION_LOG CDATA #IMPLIED
    MODIFICATION_TIMESTAMP CDATA #REQUIRED
    IS_QUANTIFIED CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    DECOY_RESULT_SUMMARY_ID CDATA #IMPLIED
    RESULT_SET_ID CDATA #REQUIRED
>

<!ELEMENT RESULT_SUMMARY_OBJECT_TREE_MAP EMPTY>
<!ATTLIST RESULT_SUMMARY_OBJECT_TREE_MAP
    RESULT_SUMMARY_ID CDATA #REQUIRED
    OBJECT_TREE_ID CDATA #REQUIRED
    SCHEMA_NAME CDATA #REQUIRED
>

<!ELEMENT RESULT_SUMMARY_RELATION EMPTY>
<!ATTLIST RESULT_SUMMARY_RELATION
    PARENT_RESULT_SUMMARY_ID CDATA #REQUIRED
    CHILD_RESULT_SUMMARY_ID CDATA #REQUIRED
>

<!ELEMENT SCORING EMPTY>
<!ATTLIST SCORING
    ID CDATA #REQUIRED
    SEARCH_ENGINE CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT SEARCH_SETTINGS EMPTY>
<!ATTLIST SEARCH_SETTINGS
    ID CDATA #REQUIRED
    SOFTWARE_NAME CDATA #IMPLIED
    SOFTWARE_VERSION CDATA #IMPLIED
    TAXONOMY CDATA #IMPLIED
    MAX_MISSED_CLEAVAGES CDATA #IMPLIED
    PEPTIDE_CHARGE_STATES CDATA #IMPLIED
    PEPTIDE_MASS_ERROR_TOLERANCE CDATA #IMPLIED
    PEPTIDE_MASS_ERROR_TOLERANCE_UNIT CDATA #IMPLIED
    IS_DECOY CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    INSTRUMENT_CONFIG_ID CDATA #REQUIRED
>

<!ELEMENT SEARCH_SETTINGS_SEQ_DATABASE_MAP EMPTY>
<!ATTLIST SEARCH_SETTINGS_SEQ_DATABASE_MAP
    SEARCH_SETTINGS_ID CDATA #REQUIRED
    SEQ_DATABASE_ID CDATA #REQUIRED
    SEARCHED_SEQUENCES_COUNT CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT SEQUENCE_MATCH EMPTY>
<!ATTLIST SEQUENCE_MATCH
    PROTEIN_MATCH_ID CDATA #REQUIRED
    PEPTIDE_ID CDATA #REQUIRED
    START CDATA #REQUIRED
    STOP CDATA #REQUIRED
    RESIDUE_BEFORE CDATA #IMPLIED
    RESIDUE_AFTER CDATA #IMPLIED
    IS_DECOY CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    BEST_PEPTIDE_MATCH_ID CDATA #REQUIRED
    RESULT_SET_ID CDATA #REQUIRED
>

<!ELEMENT SEQ_DATABASE EMPTY>
<!ATTLIST SEQ_DATABASE
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    FASTA_FILE_PATH CDATA #REQUIRED
    VERSION CDATA #IMPLIED
    RELEASE_DATE CDATA #REQUIRED
    SEQUENCE_COUNT CDATA #IMPLIED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
>

<!ELEMENT SPECTRUM EMPTY>
<!ATTLIST SPECTRUM
    ID CDATA #REQUIRED
    TITLE CDATA #REQUIRED
    PRECURSOR_MOZ CDATA #IMPLIED
    PRECURSOR_INTENSITY CDATA #IMPLIED
    PRECURSOR_CHARGE CDATA #IMPLIED
    IS_SUMMED CDATA #REQUIRED
    FIRST_CYCLE CDATA #IMPLIED
    LAST_CYCLE CDATA #IMPLIED
    FIRST_SCAN CDATA #IMPLIED
    LAST_SCAN CDATA #IMPLIED
    FIRST_TIME CDATA #IMPLIED
    LAST_TIME CDATA #IMPLIED
    MOZ_LIST CDATA #IMPLIED
    INTENSITY_LIST CDATA #IMPLIED
    PEAK_COUNT CDATA #REQUIRED
    SERIALIZED_PROPERTIES CDATA #IMPLIED
    PEAKLIST_ID CDATA #REQUIRED
    INSTRUMENT_CONFIG_ID CDATA #REQUIRED
    INITIAL_ID CDATA #REQUIRED
>

<!ELEMENT USED_ENZYME EMPTY>
<!ATTLIST USED_ENZYME
    SEARCH_SETTINGS_ID CDATA #REQUIRED
    ENZYME_ID CDATA #REQUIRED
>

<!ELEMENT USED_PTM EMPTY>
<!ATTLIST USED_PTM
    SEARCH_SETTINGS_ID CDATA #REQUIRED
    PTM_SPECIFICITY_ID CDATA #REQUIRED
    SHORT_NAME CDATA #REQUIRED
    IS_FIXED CDATA #REQUIRED
>

<!ELEMENT schema_version EMPTY>
<!ATTLIST schema_version
    version_rank CDATA #REQUIRED
    installed_rank CDATA #REQUIRED
    version CDATA #REQUIRED
    description CDATA #REQUIRED
    type CDATA #REQUIRED
    script CDATA #REQUIRED
    checksum CDATA #IMPLIED
    installed_by CDATA #REQUIRED
    installed_on CDATA #REQUIRED
    execution_time CDATA #REQUIRED
    success CDATA #REQUIRED
>

